{
  "dmenu": {
    "exe": "../dmenu/dmenu/dmenu",
    "font": "-*-terminus-bold-r-*-*-24-*-*-*-*-*-*-*",
    "lines": 8,
    "selhook": "xdotool windowraise \\`echo %s | awk -F, '{print \\$NF}'\\`"
  },
  "winlist": {
    "filter_dir": "../etc",
    "format": "%-90s | %-20s, %s"
  }
}
